
  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Fonctions :</span>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item" ng-repeat="page in pages">
                <a class="nav-link" ng-click="navigateTo(page.nomFonction)" href="javascript:;">
                  <small class="small-nav-item"><span class="oi oi-file"></span>
                  {{ page.nomFonction }}</small>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
		  <nav aria-label="breadcrumb">
		    <ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page"><a ng-href="#!/{{ appli }}">{{ appli }}</a></li>
				<li class="breadcrumb-item active" aria-current="page"><a ng-href="#!/{{ appli }}/{{ version }}">{{ version }}</a></li>
			</ol>
		  </nav>
          <br/>
          <div ng-bind-html="to_trusted(documentation)"></div>
        </main>
      </div>
    </div>
