.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f7f7f9;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.section-nav {
    padding-left: 0;
    border-left: 1px solid #eee;
}
.toc-entry {
    display: block;
}
.small-nav-item {
  font-size: 70%;
}

.highlight {
    background-color: lightgrey;
}

.h1, h1 {
  border-bottom: 1px solid black;
}

.h2, h2 {
  font-size: x-large;
  border-bottom: 1px dashed black;
}

.h3, h3 {
  font-size: large;
  text-decoration: underline;
}

.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
}