<main role="main">
  <div class="container">
	<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
    		<li class="breadcrumb-item" aria-current="page"><a ng-href="#!/{{ appli }}">{{ appli }}</a></li>
    		<li class="breadcrumb-item active" aria-current="page"><a ng-href="#!/{{ appli }}/{{ version }}">{{ version }}</a></li>
    	</ol>
    </nav>
    <br/>
	
    <form class="form-group">
          <input class="form-control" type="text" placeholder="Rechercher" aria-label="Rechercher" id="search" ng-model="searchText" >
    </form><br/>
    <table class="table">
      <tr>
        <th scope="col">Fonction</th>
        <th scope="col">Biblioth&egrave;que</th>
        <th scope="col">Description</th>
      </tr>
      <tr ng-repeat="page in pages | filter:searchText">
        <td><a ng-href="#!/{{ appli }}/{{ version }}/{{ page.nomFichier}}/{{ page.nomFonction}}">{{ page.nomFonction}}</a></td>
        <td><a ng-href="#!/{{ appli }}/{{ version }}/{{ page.nomFichier}}">{{ page.nomFichier}}</a></td>
        <td>{{ page.descriptionFonction}}</td>
      </tr>
    </table>
  </div>
</main>
