
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Liste des composants</h1>
      <p class="lead text-muted">Ci-dessous la liste des composants documentés</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <!-- {{ applications | json }} -->
      <div class="row">
        <div class="col-md-4" ng-repeat="(nom_appli,versions_appli) in applications">
          <div class="card mb-4 shadow-sm">
            <a ng-href="#!/{{ versions[nom_appli].appli }}/{{ versions[nom_appli].version }}">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ versions[nom_appli].appli }} - {{ versions[nom_appli].version }}</text></svg>
            </a>
            <div class="card-body">
              <p class="card-text">{{ versions[nom_appli].description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a ng-href="#!/{{ versions[nom_appli].appli }}/{{ versions[nom_appli].version }}" type="button" class="btn btn-sm btn-outline-secondary navButton">Version actuelle</a>
                </div>
				<div class="dropdown">
				  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Précédentes
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#!/{{ version_appli.appli }}/{{ version_appli.version }}" ng-repeat="version_appli in versions_appli">{{ version_appli.version }}</a>
				  </div>
				</div>
                <!-- <small class="text-muted">1 page</small>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
